%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    :javascript
      var startLeftHeight = 0;
      window.onload =
      	function(){
      		startLeftHeight = document.getElementsByClassName('left_menu')[0].offsetHeight;
      		divHeightsRevesion();  		
      	}
      function goToNewOrder(){
        document.location.href = "orders/new";
      }
      function divHeightsRevesion(){
      	var leftMenuDiv = document.getElementsByClassName('left_menu')[0];
      		var centerMenuDiv = document.getElementsByClassName('center_menu')[0];
      		if (leftMenuDiv.offsetHeight > centerMenuDiv.offsetHeight){
      			centerMenuDiv.style.height = leftMenuDiv.offsetHeight;
      		}
      		else if (centerMenuDiv.offsetHeight > leftMenuDiv.offsetHeight){
      			leftMenuDiv.style.height = centerMenuDiv.offsetHeight;
      		}
      }	
      function switchCenter(){
      	if (document.getElementsByClassName('div_page_history')[0].style.display=='block'){
      		document.getElementsByClassName('div_page_history')[0].style.display='none';
      		document.getElementsByClassName('div_page_personal_info')[0].style.display='block';	
      		document.getElementsByClassName('changeCenterDiv')[0].getElementsByTagName('p')[0].innerHTML = 'Перейти к истории заказов';
      	}
      	else{
      		document.getElementsByClassName('div_page_history')[0].style.display='block';
      		document.getElementsByClassName('div_page_personal_info')[0].style.display='none';
      		document.getElementsByClassName('changeCenterDiv')[0].getElementsByTagName('p')[0].innerHTML = 'Перейти к личной информации';
      	}
      	divHeightsRevesion();
      }
  %body
    .main_div
      .left_menu
        %h4 Your personal information
        %ul{:type => "square"}
          %li Username: #{current_user.username || ''}
          %li Phone: #{current_user.phone || ''}
          %li Email: #{current_user.email || ''}
          %li Firstname: #{current_user.firstname || ''}
          %li Partonym: #{current_user.partonym || ''}
          %li Lastname: #{current_user.lastname || ''}
        .changeCenterDiv{:onclick => "switchCenter()"}
          %p Перейти к личной информации
      .center_menu
        .div_page_history
          %p.descr История заказов
          %p.new_order{:onclick => "goToNewOrder"} Новый заказ
          .clearer
          .history_info
        .div_page_personal_info
          %p.descr Личная информация
          .clearer
          .personal_info
            %input.personalInput{:type => "text", :value => "#{current_user.username || ''}"}/
            %br
            %input.personalInput{:type => "text", :value => "#{current_user.phone || ''}"}/
            %br
            %input.personalInput{:type => "text", :value => "#{current_user.email || ''}"}/
            %br
            %input.personalInput{:type => "text", :value => "#{current_user.firstname || ''}"}/
            %br
            %input.personalInput{:type => "text", :value => "#{current_user.partonym || ''}"}/
            %br
            %input.personalInput{:type => "text", :value => "#{current_user.lastname || ''}"}/
            %br
          %p.inputPasswordForChangings Введите пароль:
          %input.input_text{:type => "password"}/
          .input_button
            .helpButtonDiv
              %p Сохранить
          .clearer
      .clearer
