-# Хэдер
#header
  = link_to image_tag("logo.png", :alt => "Beorg"), '/#home'
  #navigation
    =link_to 'Search for parcel', '/orders/search_partners'
  -if current_user
    #profile
      %p
        You logged as #{current_user.username}
      #navigation
        = link_to 'logout', destroy_user_session_path, method: :delete
      %br
      #navigation
        = link_to 'Personal cabinet', '/cabinet'
      #navigation
        = link_to 'Orders tracking', '/orders/tracking'



  -else
    #form-horizontal
      =render 'devise/sessions/new'


