-# Основной шаблон
!!!
%html
  %head
    %title Beorg
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    -if controller_name!='news'
      = render 'layouts/common/header'
    -if controller_name!='info'
      #main
        = yield
    -else
      =yield
    -if controller_name!='news'
      = render 'layouts/common/footer'
